
:root {
  --primary-color: rgb(0, 238, 255);
  --primary-color-darker: rgb(0, 238, 255);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding:0 ;
  background: var(--primary-color);
  font-family: 'open sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.container {
  max-width: 640px;
  margin: 50px auto;   /*distancia do topo e de baixo*/
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
background: var(--primary-color-darker);
}

table {
  width: 100%;
}